@import "tailwindcss";

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.noisy {
  @apply absolute inset-0 size-full opacity-100 bg-[url('/noise.png')];
}

:root {
  --background: #000;
  --foreground: #fff;
}
body {
  background: var(--background);
  color: var(--foreground);
}
